<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="{{url_for('static',filename='css/main.css')}}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="icon" href="{{url_for('static',filename='assets/arrow/png/black-blue.png')}}">

    <title>TdA - {% if profile[1] != null: %}{{ profile[1] }} {% endif %}{{ profile[2]}}{%
        if profile[3] != null: %} {{ profile[3] }}{% endif %} {{ profile[4] }}{% if
        profile[5] != null: %}, {{ profile[5] }}{% endif %}</title>
</head>

<body class="bg-dark">

<div class="row w-100 justify-content-center">
    <div class="col-12 col-lg-8 m-5 card">
        <div class="card-header">
            <h1>{% if profile[1] != null: %}{{ profile[1] }} {% endif %}{{ profile[2]}}{%
                if profile[3] != null: %} {{ profile[3] }}{% endif %} {{ profile[4] }}{% if
                profile[5] != null: %}, {{ profile[5] }}{% endif %}</h1>
        </div>

        <div class="card-body row">
            {% if profile[6] != null: %}
            <div class="text-center col-12 col-lg-4">
                <img class="w-100 rounded-4" src="{{ profile[6] }}"
                     alt="{{ profile[2] }} {{ profile[3] }}">
            </div>
            {% endif %}

            <div class="col-12 col-lg-8">
                <ul class="list-unstyled">
                    {% if profile[8] != null: %}
                    <li>
                        <h5>
                            <i class="fa fa-quote-right"></i>
                            Osobní citát: {{ profile[8] }}
                        </h5>
                    </li>
                    {% endif %}
                    {% if profile[7] != null: %}
                    <li>
                        <h5>
                            <i class="fa fa-location-arrow"></i>
                            Lokace: {{ profile[7] }}
                        </h5>
                    </li>
                    {% endif %}
                    {% if profile[11] != null: %}
                    <li>
                        <h5>
                            <i class="fa fa-dollar"></i>
                            Hodinová sazba: {{ profile[11] }} CZK
                        </h5>
                    </li>
                    {% endif %}
                </ul>

                <h5><i class="fa fa fa-tag"></i> Tagy:</h5>
                <ul>
                    
                    <li>{{ profile[10] }}</li>
                    
                </ul>

                <h5><i class="fa fa fa-phone"></i> Telefonní čísla:</h5>
                <ul>
                    
                    <li>{{ profile[12] }}</li>
                    
                </ul>

                <h5><i class="fa fa-at"></i> E-mailové adresy:</h5>
                <ul>
                    
                    <li>{{ profile[13] }}</li>
                    
                </ul>

                {% if profile[9] != null: %}
                <hr>
                <a>{{ profile[9] | safe }}</a>
                {% endif %}
            </div>
        </div>


    </div>
</div>


<script src="{{url_for('static',filename='js/main.js')}}"></script>

</body>
</html>